@model List<TipoDeArea>

@{
    ViewData["Title"] = "Home Page";
    // var tiposDeArea = (List<TipoDeArea>)ViewData["TiposDeArea"];
}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="map" style="height:500px;"></div>

    <div id="cadastro-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-novo-ponto">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="form-ponto" name="FormPonto" enctype="multipart/form-data">
                   
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-novo-ponto">Ponto selecionado</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body text-start">
                        <div id="container-erro" class="alert alert-danger align-items-center display-none-imp" role="alert">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>
                            <div id="mensagem-erro"></div>
                        </div>
                        <input type="hidden" id="lat" name="Lat" value="" />
                        <input type="hidden" id="lon" name="Lon" value="" />
                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label">Descrição: *</label>
                            <input name="Descricao" type="text" class="form-control" required/>
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label">Classificação: *</label>
                            
                                @foreach (var tipo in Model ) {
                                
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input"
                                            name="Tipos[]" 
                                            value="@tipo.Id" />

                                        <label class="form-check-label">
                                            @tipo.Classificacao
                                        </label>
                                    </div>
                                
                                }
                                <div class="form-check">
                                    <input type="checkbox"
                                           class="form-check-input"
                                           name="OutroTipo"
                                           id="check-outro-tipo"
                                           value="0" />

                                    <label class="form-check-label">
                                        Outro
                                    </label>
                                </div>
                                <div class="form-group" style="margin-top:10px;">
                                    
                                <input type="text" name="OutraClassificacao" value="" id="input-outro-tipo" class="form-control display-none-imp" placeholder="Escreva..." />
                                </div>
                                
                            
                        </div>

                        <div class="form-group" style="margin-top:10px;">
                            <label class="control-label">Foto:</label>
                            <input name="Arquivo" type="file" class="form-control" />
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal cadastro -->

    <div id="visualizar-ponto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-visualizar-ponto">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="modal-novo-ponto">Visualizar Ponto</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body text-start">
                    <div class="form-group" style="margin-top:10px;">
                        <label class="control-label">Descrição: </label>
                        <input type="text" id="descricao-readonly" name="descricaoReadonly" value="" readonly />
                    </div>
                    <div class="form-group" style="margin-top:10px;">
                        <label class="control-label">Classificações: *</label>
                        <div id="classificacoes-readonly">

                        </div>
                    </div>

                    <div class="form-group" style="margin-top:10px;" id="div-img-readonly">
                        <label class="control-label">Foto:</label>
                        <img src="#" alt="Imagem anexada ao ponto" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal visualizar -->
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
